@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

/* font-family: 'News Cycle', sans-serif;
font-family: 'Zen Maru Gothic', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#header img {
    width: 200px;
    height: 200px;
    z-index: 5;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: breath;
}

#search {
    margin-top: 20px;
    display: flex;
}

#search .input {
    width: 300px;
    height: 30px;
    font-size: 18px;
    margin: 0 5px;
}

#search .btn {
    height: 30px;
    width: 30px;
    background-color: red;
    border: none;
    font-size: 18px;
}

.intro {
    text-align: center;
    color: #F8E838;
    z-index: 5;
}

@keyframes breath {
    from {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.output-here {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
}